.Reception_LeftAnchor{
    -fx-background-color: linear-gradient(to top left,#5b2fca,#3CDEC3);
}
.Reception_RightAnchor{
    -fx-background-color: #e2f8fb;
}

.ReceptionText{
    -fx-font-size: 26pt;
    -fx-border-width: 10000;
    -fx-text-fill: #0b4a52;
    -fx-font-family: 'Arial';
    -fx-padding: 10,10,10,10;
    -fx-alignment: center;
    -fx-font-weight: bolder;
}
.OrText{
    -fx-font-size: 20pt;
    -fx-border-width: 10000;
    -fx-text-fill: #0b4a52;
    -fx-font-family: 'Arial';
    -fx-padding: 10,10,10,10;
    -fx-alignment: center;
    -fx-font-weight: bold;
}

/*.WelcomeButton{*/
/*    -fx-min-width: 240px;*/
/*    -fx-max-width: 400px;*/
/*    -fx-font-family: 'Arial';*/
/*    -fx-font-size: 20pt;*/
/*    -fx-font-weight: bold;*/
/*    -fx-background-color: #5b2fca;*/
/*    -fx-text-fill: #ffffff;*/
/*    -fx-border: 0;*/
/*    -fx-background-radius: 25px;*/
/*    -fx-cursor: hand;*/
/*}*/

/*.WelcomeButton:hover{*/
/*    -fx-font-size: 28px;*/
/*}*/
.ReceptionButton {
    -fx-background-color: #008CBA;
    -fx-min-width: 320px;
    -fx-max-width: 340px;
    -fx-font-family: 'Arial';
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-border-radius: 2px;
    -fx-background-radius: 25px;
    -fx-cursor: hand;
    -fx-transition: all 0.3s ease;
    -fx-padding: 4;
}

.ReceptionButton:hover {
    -fx-background-color: transparent;
    -fx-background-radius: 25px;
    -fx-text-fill: #008CBA;
    -fx-border-width: 2px;
    -fx-border-color: #008CBA;
    -fx-border-radius: 25px;
}


