.RightAnchor{
    -fx-border: high #5b2fca;
    -fx-background-color: linear-gradient(to bottom left,#5A2EC9,#3CDEC3);
}

.LeftAnchor{
    -fx-background-color: #e2f8fb;
}

.SignUpLabel{
    -fx-font-size: 35pt;
    -fx-text-fill: #0b4a52;
    -fx-font-family: 'Arial';
    -fx-padding: 10,10,10,10;
    -fx-alignment: center;
    -fx-font-weight: bolder;
}

.SignUpButton{
    -fx-min-width: 240px;
    -fx-max-width: 400px;
    -fx-font-family: 'Arial';
    -fx-font-size: 14pt;
    -fx-font-weight: bolder;
    -fx-background-color: #5b2fca;
    -fx-text-fill: #ffffff;
    -fx-border: 0;
    -fx-background-radius: 25px;
    -fx-cursor: hand;
}
.SignUpButton:hover {
    -fx-background-color: transparent;
    -fx-background-radius: 25px;
    -fx-text-fill: #008CBA;
    -fx-border-width: 2px;
    -fx-border-color: #008CBA;
    -fx-border-radius: 25px;
    -fx-min-width: 240px;
    -fx-max-width: 400px;
    -fx-font-family: 'Arial';
    -fx-font-size: 14pt;
    -fx-font-weight: bolder;
    -fx-border: 0;
    -fx-cursor: hand;
}

.LoginLabel{
    -fx-font-family: 'Arial';
    -fx-font-size: 12pt;
    -fx-padding: 10,10,10,10;
    -fx-background-color: rgba(0,0,0,0);
}

.LoginButton{
    -fx-background-color: transparent;
    -fx-text-fill: blue;
    -fx-underline: true;
    -fx-font-size: 12pt;
    -fx-cursor: hand;
}